@use "src/assets/styles/mixins";
@use "src/assets/styles/variables";

.feed {
  .item {
    display: flex;
    gap: 1rem;
    align-items: baseline;
    margin-bottom: 0.75rem;

    .time {
      color: #999;
      font-size: 0.95rem;
      min-width: 85px;
      font-variant-numeric: tabular-nums;
    }

    .title {
      margin: 0;
      font-size: 1rem;
      font-weight: normal;

      .link {
        text-decoration: underline;
        color: hsl(var(--color-foreground));

        &:hover,
        &:focus {
          opacity: 0.7;
        }
      }
    }
  }
}
