@use "src/assets/styles/variables";

.layout {
  display: grid;
  margin: 0 auto;
  gap: variables.$layout-gap;
  max-width: variables.$layout-width;
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

.footer {
  grid-column: span 12;
  text-align: center;
  margin-top: 3rem;
  padding: 2rem 1rem;
  color: hsl(var(--color-muted-foreground));
  font-size: variables.$typography-small-font-size;
}
